In [1]:
%matplotlib inline
import sys, os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

sys.path.insert(0,os.path.abspath('..'))
from Scripts.methodChain import *

sns.set_theme(style="ticks", font_scale=1.3,)
plt.rc("axes.spines", top=False, right=False)

AttributeError: module 'seaborn' has no attribute 'set_theme'

# Cleaning up data
We have created a script called methodChain that contains chained methods load_and_processText() as well as load_and_processSlang() which gets rid of uneccessary columns in our datasets. The cleaned up datasets are then loaded into df - list of text inputs - and dfSlang - list of abbreviations and the corresponding keys.

In [2]:
df = load_and_processText()
dfSlang = load_and_processSlang()

## df: List of text inputs

In [3]:
df

                                                    text
0      Another update 20th February and still no biom...
1      I've had nothing but positive experiences with...
2      Great app that I use almost every day, would b...
3      Update: After some updates, this app is much e...
4      AMAZON IS NO. 1 ðŸŒ¹ðŸŒ¹HAVE BEEN ORDERING FROM AMAZ...
...                                                  ...
74635  Great app,add the edit text, so one cant easil...
74636  GUE MO KOMPLEN, INI TOMBOL CALL AMA OPTION NYA...
74637    Not working properly. All the time restart aap.
74638  HTC one x Didn't get the camera feature in rec...
74639  Disappointed with new up update vesion. Very bad.

[74640 rows x 1 columns]

## dfSlang: List of abbreviations and corresponding keys

In [4]:
dfSlang

    Column1                 Column2
0      2day                   today
1       NaN                     NaN
2     2nite                 tonight
3       NaN                     NaN
4        4u                 for you
..      ...                     ...
574     ywa  you are welcome anyway
575     NaN                     NaN
576    zomg              oh my god!
577     NaN                     NaN
578     zzz                sleeping

[579 rows x 2 columns]

# Implementation of pseudocode
We've created a function called implementation which takes a text input, finds all abbreviations and replace them with the corresponding key.

In [6]:
def implementation(tweet):
    found = 0
    tweet.lower()
    for index, row in dfSlang.iterrows():
        try:
            found= tweet.index(row['Column1']) 
        except (ValueError, TypeError):
            found=-1
        if found>-1:
            punct = [""," ",".", ",","!","?"]
            if found == 0 or tweet[(found-1):found] in punct:
                tweet = tweet.replace(row['Column1'], row['Column2'])
    print('replaced tweet= '+tweet)

# Test case and output
Here is a sample text input with some abbreviations that we've tested with our implementation function.

In [14]:
sample = "we're still meeting at 8pm afaik. if anything changes i'll send you the deets. cu l8r and tc."
implementation(sample)

NameError: name 'implementation' is not defined

# Plots of different input sizes

In [ ]:
from tryItABunch import tryItABunch
nValuesNaive, tValuesNaive = tryItABunch(implementation, startN = 30, endN = 900, stepSize=30, numTrials=10, listMax = 10)

In [ ]:
plt.plot(nValuesNaive, tValuesNaive, color="red", label="Naive version")
plt.xlabel("n")
plt.ylabel("Time(ms)")
plt.legend()
plt.title("Naive algorithm")